<div id="landingPage">
	<h1>Bandjo</h1>

	<button>discover great music</button>
</div>

<div id="putTheWidgetHere"></div>

<script type="text/JavaScript">
  SC.oEmbed("http://soundcloud.com/forss/sets/soulhack", {color: "ff0066"},  document.getElementById("putTheWidgetHere"));

  $("#putTheWidgetHere").hide();
  $("#landingPage button").click(function() {
  	$("#landingPage").fadeOut(300);
  	$("#putTheWidgetHere").delay(300).fadeIn(1000);
  });

</script>