<div id="landingPage">
	<div class="brand">
		<div class="banjoLogoHead">
			<%= image_tag("banjo_head.png") %>
		</div>
		<h1>Bandjo</h1>
		<div class="banjoLogoBody">
			<%= image_tag("banjo_body.png") %>
		</div>
	</div>

	<div class="pitch">
		<p class="tagline">You live in <span class="textEmphasis">New York.</span></p>
		<p class="tagline">You love <span class="textEmphasis">underground music.</span></p>
		<p class="tagline">You always wanted to be part of the <span class="textEmphasis">local music scene</span>, discovering artists before they become legends.</p>
	</div>
	<div class="callToAction">
		<h2 class="tagline">Now’s your chance.</h2>
		<button>discover great music</button>
	</div>
</div>

<div id="putTheWidgetHere"></div>

<script type="text/JavaScript">
  SC.oEmbed("http://soundcloud.com/forss/sets/soulhack", {color: "ff0066"},  document.getElementById("putTheWidgetHere"));

  $("#putTheWidgetHere").hide();
  $("#landingPage button").click(function() {
  	$("#landingPage").fadeOut(300);
  	$("#putTheWidgetHere").delay(300).fadeIn(1000);
  });

</script>