<div id="landingPage">
	<div class="brand">
		<div class="banjoLogoHead">
			<%= image_tag("banjo_head.png") %>
		</div>
		<h1>Bandjo</h1>
		<div class="banjoLogoBody">
			<%= image_tag("banjo_body.png") %>
		</div>
	</div>

	<div class="pitch">
		<p class="tagline">Rising bands. <span class="textEmphasis">Different musical genres.</span> Initimate concerts. <span class="textEmphasis">Exclusive community.</span> New York City.</p>
	</div>
	<div class="callToAction">
		<button>Sounds cool, I'm in</button>
	</div>
</div>

<div id="putTheWidgetHere"></div>

<script type="text/JavaScript">
  SC.oEmbed("http://soundcloud.com/forss/sets/soulhack", {color: "ff0066"},  document.getElementById("putTheWidgetHere"));

  $("#putTheWidgetHere").hide();
  $("#landingPage button").click(function() {
  	$("#landingPage").fadeOut(300);
  	$("#putTheWidgetHere").delay(300).fadeIn(1000);
  });

</script>