@import "compass";

// Place all the styles related to the Base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary_color: #f2cd6f;

body {
  font-family: 'Raleway' !important;
  background-color: $primary_color;
  color: white;
  @include box-sizing(border-box);
}

#container {
  width: 960px;
  margin: 0 auto;
}

a {
  color: white;
}

a, button, input {
  @include transition-property(all);
  @include transition-duration(.3s);

  &:hover {
    color: #E2F3F0;
  }
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  @include border-radius(5px);
  display: block;
  height: 3em;
  width: 100%;
  border: none;
  margin: 0.5em 0 2em 0;
  border: 3px solid shade($primary_color, 15%);
  padding: 0 1em;
  font-size: 1em;
  color: shade($primary_color, 40%);

  &:focus {
    outline: none;
    border: 3px solid shade($primary_color, 35%);
  }
}

#user_nav {
  text-align: center;
  margin: 2em 0;
  color: white;
}

#landingPage {
  h1 {
    color: white;
    font-size: 7em;
    font-weight: 300;
    text-align: center;
    margin: 0.2em 0;
  }

  button {
    display: block;
    margin: 0 auto;
    border: 0.2em solid white;
    color: white;
    padding: 1em;
    margin-top: 3em;
    background-color: rgba(0,0,0,0);
    @include border-radius(5px);
    // border-radius: 6px;
    font-size: 1.5em;

    &:hover {
      background-color: white;
      color: $primary_color;
    }
  }
}

.formContainer {
  width: 20em;
  margin: 0 auto;
}